<div class="container-fluid heading">
            <h1>know your W<img class="globe" src="./assets/globe.png">RLD</h1>
    <br>
</div>


<div class="container-fluid back" style="text-align: center">
    <div class="row">
        <div class="col-md-12">
                <button type="button" class="btn btn-outline-dark" (click)=goBackToPreviousLocation()>Go Back</button>
        </div>
    </div>
</div>


<router-outlet></router-outlet>


<footer class="footer" style="background-color:black; color:white;">
    <div class="container text-center">
        <span>&copy; Copyright 2018. All Rights Reserved.</span>
    </div>
</footer>