.heading{
    background: linear-gradient(to right, #ef32d9, #89fffd);
    color:white;
    font-family: fantasy;
    text-align: center;
}

.back{
    background: linear-gradient(to right, #ef32d9, #89fffd);
}

.globe{
    height: 120px;
    width:120px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.globe:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}